html {
  width: 100svw;
  overflow-x: hidden;
}

* {
  transition: background-color 0.15s ease-in-out;
}

#root {
  min-height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
}

[data-bs-theme="dark"] {
  --bs-body-color: #e2e5e7;
}
